
<script type='text/javascript' src='https://10az.online.tableau.com/javascripts/api/viz_v1.js'></script>
<div id="crime5" class='tableauPlaceholder' style='width: 1004px; height: 836px;display: none;'>
 Quarterly crimes 

  <object class='tableauViz' width='1004' height='836' style='display:none;'><param name='host_url' value='https%3A%2F%2F10az.online.tableau.com%2F' /> <param name='site_root' value='&#47;t&#47;insanitee' /><param name='name' value='May5&#47;QuarterlyCrimes' /><param name='tabs' value='no' />
<param name='toolbar' value='yes' /><param name='showShareOptions' value='true' /></object></div>
