<h2>Enter criminal details: </h2>


  <form class="form-horizontal" role="form" enctype="application/x-www-form-urlencoded" method="post" action="/insertCriminal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="criminal_id">Criminal Id:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="criminal_id" name="criminal_id" placeholder="Enter Criminal Id">
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" for="age">Age:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" id="age" name="age" placeholder="Enter age">
      </div>
    </div>

  <div class="form-group">
      <label class="control-label col-sm-2" for="age">Profession:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" id="profession" name="profession" placeholder="Enter Profession">
      </div>
    </div>


    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
